@import "./base/variables";
@import "./base/buttons";
@import "./sections/modal";
@import "./base/fonts";
@import "./sections/contacts";
@import "./base/common.scss";
@import "./sections/footer";
@import "./sections/header";
@import "./base/logo";
@import "./sections/hero";
@import "./sections/detail";
@import "./sections/work";
@import "./sections/team";
@import "./sections/customers";
@import "./sections/portfolio";

.image-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

a:hover,
a:focus {
  color: var(--blue);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Cards Section */
.card-items {
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
}

.card-items h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  margin: 0;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}

.card-items p {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
  margin: 0;
}
.card-items:hover,
.card-items:focus {
  cursor: pointer;
  border-color: var(--blue);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* homework 4 */

a:focus {
  outline: none;
}

.social-section {
  display: flex;
  width: 206px;
  align-content: space-between;
  gap: 108px;
}

.social-text {
  font-family: var(--roboto-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 4px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
  align-items: center;
}

.social-items {
  gap: 40px;
  display: flex;
}

/* Regular Customers */

.regular-customer-img {
  max-width: 70%;
}

/* hw-05 */

a.active {
  color: var(--blue);
}

.service-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
